<ng-container *ngIf="selectedItems?.length else empty">
    <div (click)="handleClick()" class="descContainer" *ngFor="let item of selectedItems">
        <span>{{item.name}}</span>
        <div>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
            corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in
            culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
            expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi.
        </div>
    </div>
</ng-container>

<ng-template #empty>
    <div class="descContainer">
        No Selection
    </div>
</ng-template>